@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    ---cor-background-primaria:#F3F5FC;
    ---cor-background-secundaria:#FFFFFF;
    ---cor-background-cabecalho-footer:#0A3871 ;
    ---cor-btn-primaria:#0A3871;
    ---cor-btn-secundaria:#D8DFE8;
    ---cor-fonte-primaria:#0A3871;
    ---cor-fonte-secundaria:#343A40;
    ---cor-fonte-terciaria:#495057;
    ---cor-fonte-quaternaria:#FFFFFF;
    ---cor-hover:#052051;

    ---fonte-primaria: "Inter", sans-serif;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: var(---cor-background-primaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(---cor-fonte-primaria);
    line-height: 150%;
    font-size: 1rem;
}


.cabecalho{
    width: auto;
    background: var(---cor-background-cabecalho-footer);
}

.logoAlura{
    background: transparent;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 3%;
    filter: brightness(0) invert(1);
}

.container{
    display: flex;
    justify-content:space-between;
    gap: 80px;
    margin: 5% 10%;
    max-width: 100%;
   
}

.container-input{
    width: auto;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
   
.input{
    border: none; 
    resize: none;
    margin-top: 10%;
    font-size: 2rem;
}

    ::placeholder{
        color: var(---cor-fonte-primaria);
        
    }
        .input:focus{outline: none}

.container-info-btns{
    margin-bottom: 6%;
}

.info{ 
    width: 100%;
}

.container-btns{
    display: flex;
    gap: 24px;  
    font-size: 1rem;
}  

.btn-criptografar{
    background: var(---cor-btn-primaria);
    color: var(---cor-fonte-quaternaria);
    width: 50%;
    max-width: auto;
    min-width: auto;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}

.btn-descriptografar{
    background: var(---cor-btn-secundaria);
    width: 50%;
    max-width: auto;
    min-width: auto;
    border-radius: 24px;
    cursor: pointer;
}

.container-output{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(---cor-background-secundaria);
    border-radius: 32px;
    width: 400px;
    height: 944px;
}

.output{
    max-width: 100%;
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: none;
    background: var(---cor-background-secundaria);
    background-image: url(./assets/bonecoLupa.svg);
    background-repeat: no-repeat;
    resize: none;
    margin-top: 55%;
    padding: 0 2%;
}
    .output:focus{outline: none;}

.container-output-texto{
    background: var(---cor-background-secundaria);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 10%;
    margin-bottom: 55%;

}

.titulo{
    background: var(---cor-background-secundaria);
    color: #343A40;
    font-weight: 700;
    font-size: 1.5rem;
}

.paragrafo{
    background: var(---cor-background-secundaria);
    font-size: 1rem;
    color: #495057;
}

.btn-copiar{
    background: var(---cor-background-secundaria);
    border-radius: 1.5rem;
    border: solid 1px var(---cor-btn-primaria);
    font-size: 1rem;
    width: 90%;
    height: 67px;
    margin-top: 90%;
    gap: 8px;
    cursor: pointer;
}

.rodape {
    width: auto;
    padding-top: 1%;
    color:var(---cor-fonte-quaternaria);
    background:var(---cor-background-cabecalho-footer);
    text-align: center;
    font-size: 1rem;
}

.rodape__texto {
    background-color: var(---cor-background-cabecalho-footer);
    color:var(---cor-fonte-quaternaria);
    font-size: 1rem;

}
strong{
    text-decoration: none;
    font-weight: 500;
    background-color: var(---cor-background-cabecalho-footer);
    color:var(---cor-fonte-quaternaria);
    font-weight: 1rem;
}

@media (max-width: 1290px) {
    .logoAlura{width: auto;}
    .container{
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .container-input{
        width: 80%;
    }
    .input{
        width: 688px;
        min-height: 48px;
        height: auto;
        max-height: 288px;
        padding-right:10%;
    }
    .container-info-btns{
        gap: 16px;
        width: auto;
    }
    .container-output{
        width: 688px;
        position: relative;
        align-items: center;
        max-width: 688px;
        min-height: 133px;
        height: auto;
        max-height: 343px;
        gap: 32px;
        bottom: 50px;
    }
    .output{
        border-radius: none;
        overflow: hidden;
        background: transparent;
        position:absolute;
        padding: 5%;
        width: 624px;
        height: auto;
        max-height: 180px;
        top: 10%;
        
    }
    .container-output-texto{
        background: transparent;
        border: 2rem;
        width: auto;
        max-width: 100%;
        width: 688px;
        height: 133px;
        margin: 5%;
        padding-bottom: 20%;
        
    }
    .btn-copiar{
        width: 624px;
        max-width: 80%;
        height: 67px;
        padding: 24px;
        position: relative;
        margin-bottom: 60%;
    }
}

@media (max-width: 700px){
    .container{
        justify-content: space-around;
        align-items: center;
        flex-flow: column wrap;
           
    }
    .container-input{
        width: auto;
    
    }
    .input{
        width: 343px;
        max-width: auto;
        height: auto;
        min-height: 48px;
        max-height: 600px;
        margin-top: 20%;
        padding-right: 0;
    }
    .info{
        margin-left: 2%;
    }
    .container-btns{
      flex-direction: column;
      gap: 10px;
      
    }
    .btn-criptografar{
        width: 343px;
        height: 67px;
    }
    .btn-descriptografar{
        width: 343px;
        height: 67px;
    }
    .container-output{
        overflow: hidden;
        width: 343px;
        max-width: 100%;
        min-height: 186px;
        height: auto;
        max-height: 595px;
    }
    .output{
        max-height: 380px;
        height: auto;
    }
    .btn-copiar{
        width: 279px;
        top: 170px;
    }
    .container-output-texto{
        position: relative;
        width: 327px;
        margin-bottom: 25%;

    }
}